.DS_Store
.idea/
.tern-project
.awcache/
dist/*.*
dist/release/1.1.*
dist/release/1.2.*
dist/release/1.3.0
dist/release/1.3.1*
dist/release/old/
dist/assets/
dist/demos/
dist/docs/
dist/poi-lists/
node_modules/
reports/browserstack-reports/
reports/*.html
test/e2e/.awcache/
test/e2e/dist/
test/e2e/node_modules/
test/e2e/target/
typings/
target/
*.log
*.tgz
*.iml
oil-michiel.sublime-project
oil-michiel.sublime-workspace
